.site {
  max-width: $break-large;
  margin: 0 auto;
  font-family: $sans;
  font-size: $font-size;
  @media screen and (max-width: $break-large) and (min-width: $break-small) {
    font-size: $font-size-medium;
  }
  @media screen and (max-width: $break-small) {
    font-size: $font-size-small;
  }
  @media screen and (max-width: $break-large) {
    margin: 0 0 0 1em;
  }
}

#header, #footer, .section {
  margin-bottom: 1em;
}

a:visited, a:hover {
  color: inherit;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

%clearfix {
  @include clearfix;
}